$color__skin: #002254; // Header etc.
$color__interactive: #b51c35; // Links, highlights, etc.

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
/*$color__link: #000;*/
$color__link: white;
$color__link-visited: white;
$color__link-hover: $color__interactive;
$color__text-main_alternative: #000;
$color__text-main: white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$primary-color : #000000;
$dark-grey : #333333;
$grey: #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;